<%- include("partials/header"); -%>

<script>
  $(".option1").removeClass("active");
  $(".option3").addClass("active");
</script>

<div class="row marginLine tabsNav contactSpace">
  <div class="col">
  <p style="font-size: 18px;"><strong>Write to us</strong></p>
  <form role="form" action="/send-email" method="post">
    <br style="clear:both">
    <div class="form-group">
      <select name="category" class="form-control category"><option value="Feedback" selected>Feedback</option><option value="bug">Report a bug</option></select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="from" name="from" placeholder="Your Email Address" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" maxlength="140" rows="7" required></textarea>
    </div>
    <div class="text-center">
      <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right btn-submit btn-lg">Send</button>
    </div>
  </form>
  <br>
  <% if (sentConfirmation == "Yes"){ %>
    <div style="text-align: center; color: green;"><p style="font-size: 18px;"><strong>Email Sent</strong></p></div>
  <% }else if (sentConfirmation == "No"){ %>
    <div style="text-align: center;"><p style="font-size: 18px;"><strong>Failure Encountered! Please try again.</strong></p></div>
  <% } %>
  </div>
</div>

<%- include("partials/footer"); -%>
