<optgroup label="Most Common">
  <option value="faker.random.uuid">UUID(Random)</option>
  <option value="faker.random.number">Number(Random)</option>
  <option value="randomData.generateRanged">Number(WithinRange)</option>
  <option value="randomData.generate.number">Number(FixedLength)</option>
  <option value="numSequence">Number(Sequence)</option>
  <option value="faker.lorem.word">String(Random)</option>
  <option value="randomData.generate.string">String(FixedLength Word)</option>
  <option value="randomData.generate.sentence">String(FixedLength Sentence)</option>
  <option value="randomData.generate.char">Character(Random)</option>
  <option value="randomData.generate.alphanumericChar">AlphaNumeric(Character)</option>
  <option value="randomData.generate.alphanumericStr">AlphaNumeric(String)</option>
  <option value="default">Default</option>
  <option value="dt.date">Today's Date</option>
  <option value="dt.datetime">Today's Datetime</option>
</optgroup>

<optgroup label="Random">
  <option value="faker.random.word">Word</option>
  <option value="faker.random.words">Words</option>
  <option value="faker.lorem.sentence">Sentence</option>
  <option value="faker.lorem.text">Text</option>
  <option value="faker.lorem.paragraph">Paragraph</option>
</optgroup>

<optgroup label="Date">
  <option value="faker.date.past">PastDate</option>
  <option value="faker.date.future">FutureDate</option>
  <option value="faker.date.recent">RecentDate</option>
  <option value="faker.date.month">Month</option>
  <option value="casual.year">Year</option>
  <option value="faker.date.weekday">Weekday</option>
</optgroup>

<optgroup label="Bank">
  <option value="faker.finance.account">Account</option>
  <option value="faker.finance.accountName">AccountName</option>
  <option value="faker.finance.amount">Amount</option>
  <option value="faker.finance.transactionType">TransactionType</option>
  <option value="faker.finance.currencyCode">CurrencyCode</option>
  <option value="faker.finance.currencyName">CurrencyName</option>
  <option value="faker.finance.currencySymbol">CurrencySymbol</option>
  <option value="faker.finance.creditCardNumber">CreditCardNumber</option>
  <option value="faker.finance.creditCardCVV">CreditCardCVV</option>
  <option value="faker.finance.transactionDescription">TransactionDescription</option>
</optgroup>

<optgroup label="Customer">
  <option value="faker.internet.userName">UserName</option>
  <option value="faker.internet.password">UserPassword</option>
  <option value="faker.internet.email">Email</option>
  <option value="faker.internet.url">URL</option>
  <option value="faker.internet.ip">IP Address</option>
  <option value="faker.name.firstName">FirstName</option>
  <option value="faker.name.lastName">LastName</option>
  <option value="faker.name.gender">Gender</option>
  <option value="faker.name.prefix">NamePrefix</option>
  <option value="faker.name.suffix">NameSuffix</option>
  <option value="faker.name.title">Title</option>
  <option value="faker.name.jobType">JobType</option>
</optgroup>

<optgroup label="Company">
  <option value="faker.company.companySuffix">CompanySuffix</option>
  <option value="faker.company.companyName">CompanyName</option>
</optgroup>

<optgroup label="Phone">
  <option value="faker.phone.phoneNumber">PhoneNumber</option>
  <option value="faker.phone.phoneNumberFormat">PhoneNumberFormat</option>
  <option value="faker.phone.phoneFormats">PhoneFormats</option>
</optgroup>

<optgroup label="Address">
  <option value="faker.address.zipCode">ZipCode</option>
  <option value="faker.address.zipCodeByState">ZipCodeByState</option>
  <option value="faker.address.city">City</option>
  <option value="faker.address.cityPrefix">CityPrefix</option>
  <option value="faker.address.citySuffix">CitySuffix</option>
  <option value="faker.address.streetName">StreetName</option>
  <option value="faker.address.streetAddress">StreetAddress</option>
  <option value="faker.address.streetSuffix">StreetSuffix</option>
  <option value="faker.address.streetPrefix">StreetPrefix</option>
  <option value="faker.address.secondaryAddress">SecondaryAddress</option>
  <option value="faker.address.county">County</option>
  <option value="faker.address.country">Country</option>
  <option value="faker.address.countryCode">CountryCode</option>
  <option value="faker.address.state">State</option>
  <option value="faker.address.stateAbbr">StateAbbr</option>
  <option value="faker.address.latitude">Latitude</option>
  <option value="faker.address.longitude">Longitude</option>
  <option value="faker.address.direction">Direction</option>
  <option value="faker.address.cardinalDirection">CardinalDirection</option>
  <option value="faker.address.ordinalDirection">OrdinalDirection</option>
  <option value="faker.address.timeZone">TimeZone</option>
</optgroup>
