<%- include("partials/header"); -%>


<div class="row marginLine">
  <div class="col-6-lg homeMsg">
    <br><br><br>
    <h1>Need Test Data? </h1>
    <p>Do not worry. Here's a smart and efficient way. Try this and generate relational test data in just 3 steps.</p>
  </div>
  <div class="col-6-lg">
    <img src="https://media.giphy.com/media/TJP7EH5i1fB2rKeWbf/giphy.gif" alt="data process gif">
  </div>
</div>

<div class="row marginLine">
  <p><b>Step-1:</b> Mention the number of datasets or tables. </p>
</div>
<div class="row marginLine">
  <p><b>Step-2:</b> Define schema(s).</p>
</div>
<div class="row marginLine">
  <p><b>Step-3:</b> Define data-types and relationships. </p>
</div>
  <br>
<div class="row marginLine">
  <p><b><i>That's it!</i></b> Generate your data. </p>
</div>

<div class="row ">
  <div class="col-lg startBtn">
      <button class="btn btn-lg btn-primary" type="button" name="button" onclick="location.href = '/start/Step1';">GET STARTED</button>
  </div>
</div>


<%- include("partials/footer"); -%>
